<div class="page-header">
  <div class="container">
    <h1>Öğrencileri Görüntüle</h1>
  </div>
</div>

<div class="container">
  <div class="row p-1">
    <div class="col-xs-12 right">
      <a [routerLink]="['/students']"
         mat-raised-button
         color="primary"
         class="back-btn">
        <mat-icon>chevron_left</mat-icon>
        Geri Dön
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <form #studentDetailsForm="ngForm">

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Ad</mat-label>
              <input matInput placeholder="Ad"
                     [(ngModel)]="student.firstName"
                     name="firstName">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Soyad</mat-label>
              <input matInput placeholder="Soyad"
                     [(ngModel)]="student.lastName"
                     name="lastname">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Doğum Tarihi</mat-label>
              <input matInput [matDatepicker]="picker"
                     [(ngModel)]="student.dateofBirth"
                     name="dateofBirth">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email"
                     [(ngModel)]="student.email"
                     name="email">
            </mat-form-field>
          </div>

          <div class="col-xs-12 col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Telefon</mat-label>
              <input matInput placeholder="Telefon"
                     [(ngModel)]="student.mobile"
                     name="mobile">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Cinsiyet</mat-label>
              <input matInput placeholder="Cinsiyet"
                     [(ngModel)]="student.gender.description"
                     name="genderDescription">
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Adres</mat-label>
              <textarea matInput rows="3" placeholder="Adres"
                        [(ngModel)]="student.address.physicalAddress"
                        name="physicalAddress"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Posta Kodu / Posta Adresi</mat-label>
              <input matInput placeholder="Posta"
                     [(ngModel)]="student.address.postalAddress"
                     name="postalAddress">
            </mat-form-field>
          </div>
        </div>

      </form>
    </div>

    <div class="col-xs-12 col-md-6">
      Profil gelecek
    </div>
  </div>
</div>
